body {
    background-color: #000;
}

#splash-screen img{
    width: 50%;
}

.fbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fs {
    width: 100%;
    height: 100vh;
}

#status-cast{
    color: #999;
    margin-top: 20px;
    font-size: 20px;
}

.hidden {
    display: none;
}

.oo-blur {
    -webkit-filter: none !important;
    -moz-filter: none !important;
    filter: none !important;
}

.oo-player-container .oo-action-icon-pause.oo-animate-pause {
    -webkit-transition: all 300ms ease !important;
    transition: all 300ms !important;
}
