<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ooyala Receiver</title>

    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script type="text/javascript" src="//player.ooyala.com/core/<%= htmlWebpackPlugin.options.playerId %>?plugins=bm"></script>    
</head>
<body>
    <div id="splash-screen" class="fbox-container fs">
        <img id="splash-image" src="images/<%= htmlWebpackPlugin.options.logo %>" />
        <div id="status-cast">
        </div>
    </div>
    <div id="player"></div>
</body>
</html>